!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title= data.page.title || "Prototypes"
    %meta{:content => "width=device-width", :name => "viewport"}

    %link{rel:"shortcut icon", href:"/favicon.ico"}
    -# There's a separate stylesheet for browsers that support media queries and for those that don't
    -# see Application.css for more info
    = stylesheet_link_tag "common"

    -# Any extra CSS that may be required on a specific page (ie. prototypes)
    = yield_content :cssheader

    -# body page class to follow "_page" convention
  %body{ :class=>"#{current_page.data.pageclass}"}
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>

    %header.site-header{:role => "banner"}
      .page-width
        %h1 Prototypes
    %main{:role => "main"}= yield
    %footer.footer--main
      -# Any extra JS that may be required on a specific page
      = yield_content :htmlfooter
      .page-width
        .author
          By
          %a{href:'http://twitter.com/monsika'} Monika Piotrowicz

    %script{:src => "http://code.jquery.com/jquery-1.11.0.min.js"}
    :javascript
      window.jQuery || document.write('<script src="../javascripts/vendor/jquery.js"><\/script>')
    = javascript_include_tag "vendor/handlebars.js"

    -# Any extra JS that may be required on a specific page
    = yield_content :jsfooter